<div class="grid grid-cols-2 w-full”>
  <div class="h-screen">
    <div class=" flex flex-col ">
      <h1 class="text-3xl font-bold underline font-body px-8 pt-5">
          <%= "使い方" %>
      </h1>
      <div class="pt-10 flex justify-center h-full">
        <div class="w-5/6 h-full carousel">
          <div id="slide1" class="carousel-item relative w-full">
            <div class="card bg-neutral w-full px-14">
              <h2 class="card-title pt-10">機能説明1</h2>
              <p  class="card-body"><%= File.read("#{Rails.root}/app/assets/text/how_to_use_1.txt").html_safe %></p>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide4" class="btn btn-circle">❮</a> 
              <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <div id="slide2" class="carousel-item relative w-full">
            <div class="card bg-neutral w-full px-14">
              <h2 class="card-title pt-10">機能説明2</h2>
              <p  class="card-body"><%= File.read("#{Rails.root}/app/assets/text/how_to_use_1.txt").html_safe %></p>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide1" class="btn btn-circle">❮</a> 
              <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <div id="slide3" class="carousel-item relative w-full">
            <div class="card bg-neutral w-full px-14">
              <h2 class="card-title pt-10">機能説明3</h2>
              <p class="card-body"><%= File.read("#{Rails.root}/app/assets/text/how_to_use_1.txt").html_safe %></p>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide2" class="btn btn-circle">❮</a> 
              <a href="#slide4" class="btn btn-circle">❯</a>
            </div>
          </div> 
          <div id="slide4" class="carousel-item relative w-full">
            <div class="card bg-neutral w-full px-14">
              <h2 class="card-title pt-10">機能説明4</h2>
              <p  class="card-body"><%= File.read("#{Rails.root}/app/assets/text/how_to_use_1.txt").html_safe %></p>
            </div>
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
              <a href="#slide3" class="btn btn-circle">❮</a> 
              <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full"> 
      <div class="flex flex-col">
        <h1 class="text-3xl font-bold underline font-body px-8 pt-5">
          <%= "コンテンツ" %>
        </h1>
        <div class="flex justify-center">
          <div class="flex flex-row gap-8 w-2/3">
            <div class="flex flex-col pt-10">
              <div class="card bg-secondary w-full">
                <div class="card-body  items-center">
                  <h2 class="card-title text-base-300">プレイリスト</h2>
                </div>
                <figure><img src="<%= image_path('Headphone-amico.png') %>" alt="playlist" /></figure>
              </div>
              <div class="pt-4">
                <%= link_to "新規作成", "#", class: "btn btn-outline btn-secondary w-full" %>
              </div>
              <div class="pt-4">
                <%= link_to "一覧", "#", class: "btn btn-outline btn-secondary w-full" %>
              </div>
            </div>
            <div class="flex flex-col pt-10">
              <div class="card bg-accent w-full">
                <div class="card-body  items-center">
                  <h2 class="card-title text-base-300">お気に入り</h2>
                </div>
                <figure><img src="<%= image_path('Music-amico.png') %>" alt="favorite" /></figure>
              </div>
              <div class="pt-4">
                <%= link_to "アーティスト", favorite_artists_path, class:"btn btn-outline btn-accent w-full" %>
              </div>
              <div class="pt-4">
                <%= link_to "楽曲", favorite_tracks_path, class:"btn btn-outline btn-accent w-full" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
