<div class="flex flex-col items-center w-full">
  <h1 class="text-3xl font-bold font-body py-20"><%= 'メールアドレスが送信されました' %></h1>
  <p class="font-body pt-10"><%= 'メールアドレスの登録完了後に【discovermusic.info1@gmail.com】よりメールを送信します。' %></p>
  <p class="font-body py-2"><%= '届いたメールに記載されたURLより本アプリケーションへの新規会員登録をお願いいたします。' %></p>
  <p class="font-body pb-10"><%= 'メールが届くまでにお時間をいただく場合がございます。あらかじめご了承ください。' %></p>
  <div class="py-5 w-full flex justify-center">
    <%= link_to "トップページに戻る", root_path, class: "btn btn-outline btn-primary w-1/3 " %>
  </div>
</div>