<div class="w-full">
  <div class="px-20 pt-10">
    <%= link_to "← 一覧に戻る", playlists_path, class: "btn btn-outline btn-accent rounded-full" %>
  </div>
  <div class="flex justify-center py-10">
    <div class="border border-8 border-sky-400 w-4/5 rounded-3xl">
      <div class="card w-full bg-neutral pt-10">
        <div class="flex flex-col">
          <div class="flex flex-row">
            <div class="flex flex-col w-1/3 items-center p-4">
              <h1 class="text-4xl font-bold"><%= @playlist.name %></h1>
              <figure class="px-5 pt-10">
                <% playlist = RSpotify::Playlist.find(nil, @playlist.spotify_id) %>
                <% if playlist.images.any? %>
                  <% image = playlist.images.first %>
                  <img src="<%= image['url'] %>?size=300x300" alt="Playlist Artwork" class="rounded-xl" style="width: 250px; height: 250px;" />
                <% else %>
                  <img src="<%= image_path('20200501_noimage.png') %>" alt="Playlist Artwork" class="rounded-xl" style="width: 200px; height: 200px;" />
                <% end %>
              </figure>
              <div class="flex justify-center">
                <p class="text-base font-normal"><%= "作成日 : #{@playlist.date}" %></p>
              </div>
              <% spotify_url = "https://open.spotify.com/playlist/#{@playlist.spotify_id}" %>
              <% app_url = "http://localhost:3001" %>
              <div class="flex justify-center pt-10">
                <div class="flex flex-col gap-5">
                  <%= link_to "Spotifyで聴く", spotify_url, class: "btn btn-accent" %>
                  <%= link_to "編集する", edit_playlist_path(@playlist), class: "btn btn-accent" %>
                  <%= link_to  "https://twitter.com/share?url=#{CGI.escape(app_url)}&text=【Discover music】でプレイリストを作成しました#{CGI.escape(spotify_url)}", class: "btn bg-black text-slate-100 ", disabled: @playlist_public ? nil : "disabled" do  %>
                  <%= image_tag "logo-white.png", size: "12x12" %>
                    シェア
                  <% end %>
                </div>
              </div>
            </div>
            <div class="w-2/3 p-4">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>タイトル</th>
                    <th>アーティスト</th>
                  </tr>
                </thead>
                <tbody>
                  <% @playlist_items.each_with_index do |playlist_item, index| %>
                    <tr class="table-row">
                      <td><%= index+1 %></td>
                      <td><%= playlist_item[0] %></td>
                      <td><%= playlist_item[1] %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="px-5 py-5">
            <iframe style="border-radius: 12px;" src="https://open.spotify.com/embed/playlist/<%= @playlist.spotify_id %>" width="100%" height="152" frameborder="0" allowtransparency="true" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
