<!DOCTYPE html>
<html>
  <head>
    <title>Discover music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <meta property="og:locale" content="ja_JP" />
    <meta property="og:title" content="Discover music | トップ" />
    <meta property="og:description" content="Discover musicは、Spotifyのプレイリストを自動で作成します。" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:image" content="<%= asset_path('logo2.png') %>" />
    <meta property="og:site_name" content="Discover music" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_image" />
    <meta name="twitter:image" content="<%= asset_path('logo2.png') %>" />
    <meta name="twitter:title" content="Discover music | トップ" />
    <meta name="twitter:description" content="Discover musicは、Spotifyのプレイリストを自動で作成します。" />
  </head>

  <body>
    <% if !logged_in? && (current_page?(root_path) || current_page?(pre_sign_up_path) || current_page?(pre_sign_up_completed_path) || current_page?(login_path)) %>
      <%= render 'shared/before_login_header' %>
    <% elsif !logged_in? && current_page?(sign_up_path) %>
      <%= render 'shared/sign_up_header' %>
    <% elsif logged_in? && (current_page?(guide_spotify_login_path) || current_page?(app_top_path)) %>
      <%= render 'shared/after_login_header' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
